# --- DATABASE CONFIG ---
DB_ROOT_PASSWORD=root_pass_123
DB_NAME=tock_music_db
DB_USER=tock_user
DB_PASSWORD=user_pass_123

# Importante para Prisma:
DATABASE_URL="mysql://root:root_pass_123@mysql-db:3306/tock_music_db"

# --- SECURITY ---
JWT_SECRET=super_secret_random_string_here

# --- SERVICES ---
RESEND_API_KEY=re_123456789 # Consigue una en resend.com

NODE_ENV="development"
